body {
    /*background-size:60%;*/
    /*background:white;*/
    text-align:center;
    color:white;
    font-weight:bold;
    font-family: cairo , sans-serif ; 
    font-size:12px;
}

body::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .4; 
  z-index: -1;
  background-image: url("https://gpa-ksu-wadahesam.c9users.io/img/background.png");
}

p {
    margin:0px;
}

legend {
    font-size:15px;
}

.main-container {
    width:40% ; 
    padding:5px 30px 15px 30px;
    min-width:300px;
    /*position :absolute; */
    top:110px;
    /*right:70%;*/
    /*margin-right: -40% ; */
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 40px ;*/
    background-color:rgba(1, 122, 174,0.7);
    border-radius:18px;
    border:4px solid rgb(151, 149, 214) ;
}

#logo {
    display: block;
    margin:-10px auto 0px auto;
    height: 80px;
    padding:10px 0px 6px 0px;
}

.subjects-table {
    padding:0px 10px 10px 10px;
    background-color:rgb(78, 108, 160);
    border-radius:10px;
    margin: 15px auto 10px auto;
}

th {
    padding:10px 19px 10px 19px;
}

td {
    padding:0px 4px;
}

input {
    border-radius:7px;
    height: 20px;
}

.subject-name {
    width: 95%;    
}

select {
    /*border-radius:7px;*/
    height:19px;
    height: 25px;
    border-radius: 5px;
    width: 75%;
    text-align-last: center;
    background-color: white;
}



.radio-button {
    position:relative;
    top:3px;
}

a{
    color:white;
    text-decoration: none;
    font-size:80%;
    font-family: "Courier New", Courier, monospace ; 
    font-weight: 100; 
}

.checkbox{
    position:relative;
    top:2px;
}


@media only screen and (max-device-width: 480px) {
    body {
    /*-moz-transform: scale(2); */
    zoom:220%; /* For Chrome, IE, default 100%*/
    }
    
    #logo {
        display: block;
        margin:-10px auto 0px auto;
        height: 70px;
        padding:10px 0px 6px 0px;
    }   
    
    th {
        padding:3px 19px 2px 19px;
    }
    
    .subjects-table {
        padding:0px 10px 10px 10px;
        background-color:rgb(78, 108, 160);
        border-radius:10px;
        margin: 8px auto 1px auto;
    }


    
    .main-container {
        width:80% ; 
        padding:5px 30px 15px 30px;
        min-width:280px;
        /*position :absolute; */
        top:110px;
        /*right:70%;*/
        /*margin-right: -40% ; */
        margin-left: auto;
        margin-right: auto;
        /*margin-bottom: 40px ;*/
        background-color:rgba(1, 122, 174,0.8);
        border-radius:18px;
        border:4px solid rgb(151, 149, 214) ;
    }
}